<p>REST-based message sender web application which uses authentication</p>
<p>First you should use the register page to get a username and a password. After the registration is complete
you can login. After the authentication is complete you have access the messages tab so you can read/write messages.</p>
<p>There are no private messages, so all messages are broadcasted to the other users as well.</p>
<p>Since the application is based on <a href="https://github.com/angular/angular-seed">angular-seed</a> you should check out how to setup.</p>



